In [1]:
import pandas as pd
# Then we'll load in our CSV file
df = pd.read_csv('datasets/Admission_Predict.csv', index_col=0)
# And we'll clean up a couple of poorly named columns like we did in a previous lecture
df.columns = [x.lower().strip() for x in df.columns]
# And we'll take a look at the results
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

* querying dataframes is all about boolean masking

In [3]:
admit_mask=df['chance of admit'] > 0.7
admit_mask

Serial No.
1       True
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398     True
399    False
400     True
Name: chance of admit, Length: 400, dtype: bool

* we can apply a mask in a couple of ways

In [5]:
df[admit_mask].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90

* of course, you don't have to make the mask object (and likely won't)

In [7]:
df[df['chance of admit'] > 0.7].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90

* we can also use the `where()` function, a subtle issue is that NaN's are left in for you.

In [8]:
df.where(admit_mask).head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* the nice thing about `where()` is that it's easy to read
* often you mix it together with `dropna()`

In [9]:
df.where(admit_mask).dropna().head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
6,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90

* masks can be composites, and made up of several conditions

In [ ]:
(df['chance of admit'] > 0.7) and (df['chance of admit'] < 0.9)

* the problem is, pandas doesn't know how to `and` two `Series` objects together. But it does know how to `&` them

In [ ]:
(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)

* But, you need to watch out for order of operations!

In [ ]:
df[df['chance of admit'] > 0.7 & df['chance of admit'] < 0.9]

* finally, there are additional helped functions on dataframes to be aware of

In [ ]:
df.where(df['chance of admit'].gt(0.7).lt(0.9)).dropna().head()

# Indexing
* Let's go back to indexing dataframes, there's some neat stuff there
* Remember that the index are row level labels, and the column names are the column level labels
* We can swap columns and rows trivially

In [11]:
df.T

Serial No.,1,2,3,4,5,6,7,8,9,10,...,391,392,393,394,395,396,397,398,399,400
gre score,337.00,324.00,316.00,322.00,314.00,330.00,321.00,308.00,302.0,323.00,...,314.00,318.00,326.00,317.00,329.00,324.00,325.00,330.00,312.00,333.00
toefl score,118.00,107.00,104.00,110.00,103.00,115.00,109.00,101.00,102.0,108.00,...,102.00,106.00,112.00,104.00,111.00,110.00,107.00,116.00,103.00,117.00
university rating,4.00,4.00,3.00,3.00,2.00,5.00,3.00,2.00,1.0,3.00,...,2.00,3.00,4.00,2.00,4.00,3.00,3.00,4.00,3.00,4.00
sop,4.50,4.00,3.00,3.50,2.00,4.50,3.00,3.00,2.0,3.50,...,2.00,2.00,4.00,3.00,4.50,3.50,3.00,5.00,3.50,5.00
lor,4.50,4.50,3.50,2.50,3.00,3.00,4.00,4.00,1.5,3.00,...,2.50,3.00,3.50,3.00,4.00,3.50,3.50,4.50,4.00,4.00
cgpa,9.65,8.87,8.00,8.67,8.21,9.34,8.20,7.90,8.0,8.60,...,8.24,8.65,9.12,8.76,9.23,9.04,9.11,9.45,8.78,9.66
research,1.00,1.00,1.00,1.00,0.00,1.00,1.00,0.00,0.0,0.00,...,0.00,0.00,1.00,0.00,1.00,1.00,1.00,1.00,0.00,1.00
chance of admit,0.92,0.76,0.72,0.80,0.65,0.90,0.75,0.68,0.5,0.45,...,0.64,0.71,0.84,0.77,0.89,0.82,0.84,0.91,0.67,0.95

* we saw that we can set the index with `set_index()`

In [16]:
df.set_index('lor').head()

,gre score,toefl score,university rating,sop,cgpa,research,chance of admit
lor,,,,,,,
4.5,337,118,4,4.5,9.65,1,0.92
4.5,324,107,4,4.0,8.87,1,0.76
3.5,316,104,3,3.0,8.00,1,0.72
2.5,322,110,3,3.5,8.67,1,0.80
3.0,314,103,2,2.0,8.21,0,0.65

In [18]:
# of course, this didn't actually change our previous dataframe, right?
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

# Multilevel indexing
* we can have heirarchical indicies, which is pretty cool
* let's look at some census data

In [19]:
df=pd.read_csv("datasets/census.csv")
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [21]:
# in this data there are only two sumlevels
print(len(df['SUMLEV'].unique()))
# so lets just get rid of anything except state level data
df=df[df['SUMLEV'] == 50]
df.head()

2

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [23]:
# we can set a multilevel index just by passing a list of things we want to index on
df=df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

* Querying gets, frankly, complex
* Someone remind me, how does df.loc work again?
  * df.loc[X,Y]

* `df.loc[row, column]`
* But with a multiindex we can do
  * `df.loc[row index1, row index2]`

In [32]:
df.loc['Michigan', 'Washtenaw County']['REGION']

2.0

In [33]:
df.loc['Michigan', 'REGION']['Washtenaw County']

2

In [35]:
# It's a bit of ambiguous, I recommend passing keys as tuple instead
df.loc[('Michigan', 'Washtenaw County')]

SUMLEV          50.000000
REGION           2.000000
DIVISION         3.000000
STATE           26.000000
COUNTY         161.000000
                  ...
RNETMIG2011      5.191395
RNETMIG2012      1.248106
RNETMIG2013      4.226778
RNETMIG2014      3.801394
RNETMIG2015      0.595048
Name: (Michigan, Washtenaw County), Length: 98, dtype: float64

In [36]:
df.loc[['Michigan', 'Washtenaw County']]

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME   CTYNAME
Michigan Alcona County         50       2         3     26       1
         Alger County          50       2         3     26       3
         Allegan County        50       2         3     26       5
         Alpena County         50       2         3     26       7
         Antrim County         50       2         3     26       9
...                           ...     ...       ...    ...     ...
         Tuscola County        50       2         3     26     157
         Van Buren County      50       2         3     26     159
         Washtenaw County      50       2         3     26     161
         Wayne County          50       2         3     26     163
         Wexford County        50       2         3     26     165

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Alcona County             10942              10942            10890
         Alger County               9601               9601             9564
         Allegan County           111408             111408           111502
         Alpena County             29598              29598            29539
         Antrim County             23580              23580            23499
...                                  ...                ...              ...
         Tuscola County            55729              55729            55696
         Van Buren County          76258              76265            76155
         Washtenaw County         344791             345066           345563
         Wayne County            1820584            1820641          1815199
         Wexford County            32735              32735            32757

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME   CTYNAME                                             ...
Michigan Alcona County               10775            10607  ...
         Alger County                 9554             9496  ...
         Allegan County             111530           111898  ...
         Alpena County               29342            29219  ...
         Antrim County               23379            23337  ...
...                                    ...              ...  ...
         Tuscola County              55392            54714  ...
         Van Buren County            75914            75258  ...
         Washtenaw County           349048           351213  ...
         Wayne County              1801273          1792514  ...
         Wexford County              32694            32597  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             0.276944         -2.899635
         Alger County              1.150748          0.314961
         Allegan County           -6.035008         -0.913046
         Alpena County            -3.498582         -0.034152
         Antrim County            -3.797090         -0.342495
...                                     ...               ...
         Tuscola County           -4.734985        -13.187292
         Van Buren County         -6.286620        -12.594925
         Washtenaw County          0.129569         -4.309822
         Wayne County            -13.340073        -10.271616
         Wexford County           -4.491910         -3.982172

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME   CTYNAME
Michigan Alcona County             8.782284         -2.949572
         Alger County              4.527984         -0.211093
         Allegan County            0.267512          7.703397
         Alpena County            -3.262083          0.172479
         Antrim County            -0.730288          3.099240
...                                     ...               ...
         Tuscola County           -9.106264         -3.714827
         Van Buren County         -1.952334         -4.650916
         Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253
         Wexford County           -3.285484          8.463184

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME   CTYNAME
Michigan Alcona County             3.077367     0.461574    -2.525489
         Alger County             -2.442262     1.359975     0.629921
         Allegan County            3.056470    -5.604577    -0.546037
         Alpena County            -2.770323    -3.294781     0.204915
         Antrim County            -0.819018    -3.711762    -0.128436
...                                     ...          ...          ...
         Tuscola County           -3.730166    -4.464929   -12.932992
         Van Buren County         -4.059792    -5.957822   -12.237716
         Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421
         Wexford County           -0.758438    -4.400238    -3.859644

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME   CTYNAME
Michigan Alcona County        9.160017    -2.568982     3.462038
         Alger County         4.843890     0.105546    -2.123706
         Allegan County       0.677697     8.269433     3.634485
         Alpena County       -2.987381     0.448446    -2.493291
         Antrim County       -0.515497     3.357510    -0.560381
...                                ...          ...          ...
         Tuscola County      -8.830873    -3.437601    -3.433237
         Van Buren County    -1.540617    -4.106094    -3.487428
         Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195
         Wexford County      -3.162662     8.585396    -0.637088

[83 rows x 98 columns]

# In class activity time!
## Question 0: Which county has the largest population in Michigan?
* (Easy)

## Question 1: Generate a new column for which is the largest absolute change in population within the period 2010-2015?
* (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)