# SQL Example
Let's create the following database, remember that our first step should be to hit the terminal and start up postgresql with `sudo service postgresql start`
![](example_er.png)

In [1]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

'Connected: jovyan@si330'

In [22]:
%%sql
drop table if exists "assignment";
drop table if exists "users";
drop table if exists "assignment_attempt";

CREATE TABLE "assignment" (
  "id" integer,
  "descr" varchar,
  "num_points" integer,
  PRIMARY KEY ("id")
);

CREATE TABLE "users" (
  "username" varchar,
  PRIMARY KEY ("username")
);

CREATE TABLE "assignment_attempt" (
  "timestamp" timestamp,
  "user" varchar,
  "assignment" integer,
  "points_awarded" integer,
  PRIMARY KEY ("timestamp", "user")
);

CREATE INDEX "FK" ON  "assignment_attempt" ("assignment");

 * postgres://jovyan:***@localhost:5432/si330
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [23]:
import string
import random
import datetime

sql_string=''
users=[]
for i in range(0,10):
    random_characters=random.sample(string.ascii_letters,6)
    user="".join(random_characters)
    users.append(user)
    user="('"+user+"'),"
    sql_string+=user
sql_string=sql_string[0:-1]
%sql insert into users ("username") values $sql_string

sql_string=''
assignments=[]
for i in range(1,6):
    assignments.append(i)
    sql_string+="({},'sample assignment-{}',100),".format(i,i)
sql_string=sql_string[0:-1]

%sql insert into assignment ("id","descr","num_points") values $sql_string

sql_string=''
for i in range(0,100):
    user=random.choice(users)
    assignment=random.choice(assignments)
    points=random.randint(0,100)
    timestamp=datetime.datetime.now()
    
    user="'{}'".format(user)
    timestamp="'{}'".format(timestamp)
    sql_string+="({}, {}, {}, {}),".format(timestamp,user,assignment,points)
sql_string=sql_string[0:-1]

%sql insert into assignment_attempt ("timestamp","user","assignment","points_awarded") values $sql_string

 * postgres://jovyan:***@localhost:5432/si330
10 rows affected.
 * postgres://jovyan:***@localhost:5432/si330
5 rows affected.
 * postgres://jovyan:***@localhost:5432/si330
100 rows affected.

[]

In [26]:
%%sql

select * from assignment_attempt aa, assignment a, users u where a.id=aa.assignment and aa.user=u.username limit 10;

 * postgres://jovyan:***@localhost:5432/si330
10 rows affected.

[(datetime.datetime(2019, 12, 3, 20, 44, 39, 827540), 'UTRBhg', 1, 66, 1, 'sample assignment-1', 100, 'UTRBhg'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827578), 'CzZlwc', 5, 47, 5, 'sample assignment-5', 100, 'CzZlwc'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827587), 'UTRBhg', 4, 98, 4, 'sample assignment-4', 100, 'UTRBhg'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827595), 'ZsmHxA', 3, 73, 3, 'sample assignment-3', 100, 'ZsmHxA'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827602), 'SzpNuW', 3, 67, 3, 'sample assignment-3', 100, 'SzpNuW'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827609), 'ZsmHxA', 1, 78, 1, 'sample assignment-1', 100, 'ZsmHxA'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827617), 'SzpNuW', 1, 10, 1, 'sample assignment-1', 100, 'SzpNuW'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827624), 'FXyWsG', 5, 35, 5, 'sample assignment-5', 100, 'FXyWsG'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827631), 'ykZSRP', 1, 26, 1, 'sample assignment-1', 100, 'ykZSRP'),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827639), 'gNEnlQ', 1, 85, 1, 'sample assignment-1', 100, 'gNEnlQ')]

In [30]:
# recall, inner, outer, left, and right joins
%sql delete from assignment where id >3

 * postgres://jovyan:***@localhost:5432/si330
2 rows affected.

[]

In [33]:
%%sql

select * from assignment_attempt aa left join assignment a on a.id=aa.assignment limit 15;

 * postgres://jovyan:***@localhost:5432/si330
15 rows affected.

[(datetime.datetime(2019, 12, 3, 20, 44, 39, 827540), 'UTRBhg', 1, 66, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827578), 'CzZlwc', 5, 47, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827587), 'UTRBhg', 4, 98, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827595), 'ZsmHxA', 3, 73, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827602), 'SzpNuW', 3, 67, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827609), 'ZsmHxA', 1, 78, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827617), 'SzpNuW', 1, 10, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827624), 'FXyWsG', 5, 35, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827631), 'ykZSRP', 1, 26, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827639), 'gNEnlQ', 1, 85, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827645), 'FXyWsG', 3, 9, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827653), 'FXyWsG', 1, 6, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827691), 'ykZSRP', 5, 5, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827698), 'ZsmHxA', 1, 65, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827705), 'YkoZQx', 3, 77, 3, 'sample assignment-3', 100)]

In [ ]:
# Notice that the resulting table has some None values throughout, because the left hand side is a superset
# across the given join key

In [34]:
%%sql

select * from assignment_attempt aa right join assignment a on a.id=aa.assignment limit 15;

 * postgres://jovyan:***@localhost:5432/si330
15 rows affected.

[(datetime.datetime(2019, 12, 3, 20, 44, 39, 828276), 'ltIzWE', 1, 66, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828237), 'FXyWsG', 1, 64, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828204), 'CzZlwc', 1, 86, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828190), 'TSnDsC', 1, 94, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828031), 'ltIzWE', 1, 84, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828017), 'YkoZQx', 1, 75, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827891), 'ZsmHxA', 1, 42, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827871), 'TSnDsC', 1, 21, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827858), 'TSnDsC', 1, 22, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827845), 'FXyWsG', 1, 2, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827773), 'UTRBhg', 1, 98, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827760), 'FXyWsG', 1, 11, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827746), 'SzpNuW', 1, 96, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827719), 'FXyWsG', 1, 66, 1, 'sample assignment-1', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827698), 'ZsmHxA', 1, 65, 1, 'sample assignment-1', 100)]

In [ ]:
# Notice there are no None values now, because the right hand side is a subset of the join key.

In [38]:
%sql delete from assignment_attempt where assignment <3

 * postgres://jovyan:***@localhost:5432/si330
33 rows affected.

[]

In [39]:
%%sql

select * from assignment_attempt aa inner join assignment a on a.id=aa.assignment limit 15;

 * postgres://jovyan:***@localhost:5432/si330
15 rows affected.

[(datetime.datetime(2019, 12, 3, 20, 44, 39, 827595), 'ZsmHxA', 3, 73, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827602), 'SzpNuW', 3, 67, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827645), 'FXyWsG', 3, 9, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827705), 'YkoZQx', 3, 77, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827712), 'FXyWsG', 3, 41, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827753), 'UTRBhg', 3, 4, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827779), 'TSnDsC', 3, 30, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827865), 'FXyWsG', 3, 37, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827885), 'TSnDsC', 3, 62, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827904), 'CzZlwc', 3, 19, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827938), 'ykZSRP', 3, 76, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827971), 'ZsmHxA', 3, 68, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827991), 'ltIzWE', 3, 14, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828024), 'UTRBhg', 3, 1, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828037), 'SzpNuW', 3, 15, 3, 'sample assignment-3', 100)]

In [ ]:
# with an inner join now we only get assignment 3 values

In [43]:
%%sql

select * from assignment_attempt aa full outer join assignment a on a.id=aa.assignment;

 * postgres://jovyan:***@localhost:5432/si330
69 rows affected.

[(datetime.datetime(2019, 12, 3, 20, 44, 39, 827578), 'CzZlwc', 5, 47, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827587), 'UTRBhg', 4, 98, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827595), 'ZsmHxA', 3, 73, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827602), 'SzpNuW', 3, 67, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827624), 'FXyWsG', 5, 35, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827645), 'FXyWsG', 3, 9, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827691), 'ykZSRP', 5, 5, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827705), 'YkoZQx', 3, 77, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827712), 'FXyWsG', 3, 41, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827726), 'YkoZQx', 4, 59, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827733), 'ZsmHxA', 5, 43, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827739), 'UTRBhg', 5, 32, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827753), 'UTRBhg', 3, 4, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827766), 'UTRBhg', 4, 39, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827779), 'TSnDsC', 3, 30, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827786), 'ltIzWE', 5, 42, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827799), 'UTRBhg', 4, 26, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827805), 'ltIzWE', 5, 59, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827812), 'gNEnlQ', 5, 39, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827826), 'SzpNuW', 4, 92, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827832), 'CzZlwc', 4, 80, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827838), 'FXyWsG', 4, 15, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827852), 'ZsmHxA', 5, 92, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827865), 'FXyWsG', 3, 37, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827885), 'TSnDsC', 3, 62, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827898), 'YkoZQx', 4, 45, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827904), 'CzZlwc', 3, 19, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827911), 'CzZlwc', 5, 33, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827932), 'FXyWsG', 4, 36, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827938), 'ykZSRP', 3, 76, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827964), 'UTRBhg', 5, 2, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827971), 'ZsmHxA', 3, 68, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827978), 'CzZlwc', 4, 57, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827985), 'FXyWsG', 5, 37, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827991), 'ltIzWE', 3, 14, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 827998), 'ZsmHxA', 5, 4, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828004), 'ykZSRP', 4, 91, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828011), 'FXyWsG', 4, 49, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828024), 'UTRBhg', 3, 1, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828037), 'SzpNuW', 3, 15, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828043), 'ZsmHxA', 5, 15, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828050), 'FXyWsG', 3, 18, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828057), 'gNEnlQ', 5, 1, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828064), 'ZsmHxA', 3, 50, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828083), 'SzpNuW', 3, 70, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828090), 'UTRBhg', 4, 70, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828097), 'SzpNuW', 5, 23, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828103), 'ltIzWE', 5, 27, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828113), 'ZsmHxA', 5, 58, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828121), 'UTRBhg', 4, 33, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828128), 'UTRBhg', 3, 65, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828136), 'TSnDsC', 5, 30, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828143), 'gNEnlQ', 3, 61, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828149), 'YkoZQx', 5, 48, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828156), 'ltIzWE', 3, 38, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828163), 'TSnDsC', 4, 90, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828169), 'YkoZQx', 3, 35, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828183), 'gNEnlQ', 5, 64, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828197), 'UTRBhg', 4, 67, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828211), 'ltIzWE', 4, 46, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828217), 'UTRBhg', 3, 57, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828224), 'TSnDsC', 5, 98, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828243), 'FXyWsG', 3, 7, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828250), 'SzpNuW', 5, 76, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828257), 'ykZSRP', 4, 64, None, None, None),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828263), 'FXyWsG', 3, 68, 3, 'sample assignment-3', 100),
 (datetime.datetime(2019, 12, 3, 20, 44, 39, 828270), 'YkoZQx', 5, 10, None, None, None),
 (None, None, None, None, 2, 'sample assignment-2', 100),
 (None, None, None, None, 1, 'sample assignment-1', 100)]

In [ ]:
# now you have none's on both sides of the join, but you have to scroll down to the bottom to see it!